# Building a Corporate Valuation Model with Python Pt. II: DCF Method

Having established the database, I will build a corporate valuation model identical to the methods given in [Brigham & Houston ("Fundamentals of Financial Management", 6th ed., 2009, South Western Cengage Learning, pp. 288 and pp. 306)](https://www.valorebooks.com/textbooks/fundamentals-of-financial-management-concise-edition-with-thomson-one-business-school-edition-6th-edition/9780324664553). Additionally, one can check the [this source](https://corporatefinanceinstitute.com/resources/knowledge/modeling/dcf-model-training-free-guide/), too, for further insights on the topic of corporate valuation.

Before starting the analysis we need some general assumptions and information on data in order to implement the DCF method for company valuation. We need the _after-tax cost of debt_ for the specific company as well as the _cost of its equity_. As for the debt it is quite cumbersome to get the individual firmÂ´s cost of debt - either we would need to check the annual reports of that company or be lucky and find a free platform that offers such an information for any possible company. Both methods are difficult to implement in a dynamic and automated manner within a python script; I would need to build an extra scraper just to retrieve such an information for any possible firm. And I barely believe that there is a free source for that.

<u><h4><font color="#ab4e52">Cost of Debt Estimate</font></h4></u>

Hence, I will **use the [central bank information on interest rates](https://sdw.ecb.europa.eu/browse.do?node=bbn2883) of new loans (>1 EURm) for non-financial corporations** and retrieve interest rate time series data from the `ECB SDM 2.1 RESTful web service` through making a **http get request**. Basically, it is like a function replicating the [sdw_api python package from the ECB](https://pypi.org/project/sdw-api/), but is more flexible in the sense that it does not throw an error for the retrieved data if different time series are imported, which was the case for the api package.

The standard entrypoint for the **ECB SDMX 2.1 RESTful web service** is `https://sdw-wsrest.ecb.europa.eu/service/data/`.<br>
We then make an empty list in which we will store each individual dataframe which we will have received from the https get request on basis of the time series keys in 'keys_list'. Specifically, I will use the **key 'MIR.M.U2.B.A2A.O.R.1.2240.EUR.N'** which identifies the data on `Bank interest rates - loans to corporations of over EUR 1M with an IRF period of over five & up to ten years (new business) - euro area`. Nonetheless, I will write a function that is general enough to iterate across a list of keys and get an average estimate of the interest rate level.

In essence, the function `get_ir_data()` is general enough in order to retrieve ECB data for any key in the `key_list` (e.g. also keys for the yield curve or exchange rates).

<u><h4><font color="#ab4e52">Cost of Equity Estimate</font></h4></u>

As for the cost of equity I will follow the <span style="color:orange"><b>CAPM Approach</b></span>, i.e. use the current ECB interest rate for main refinancing operations (1.25%, 2022/09/17) as **risk-free rate** and calculate the **annualized market risk premium** from the historical price data of the respective stock index, in our case the 'DAX'. The **beta coefficient** of the individual company is retrieved from the `FMP API` while we use `yahoo finance API` for **historical price data of the respective index**.

### Preliminary Definitions

In [1]:
#=============SET UP LOGGING ======================#
import logging
import sys

logger=logging.getLogger()
formatter = logging.Formatter('%(asctime)s - %(name)s - %(lineno)s - %(levelname)s - %(message)s')
logger.setLevel(logging.DEBUG)

# set logging handler in file
fileHandler=logging.FileHandler(filename="log/cvm_main.log", mode='w')
fileHandler.setFormatter(formatter)
fileHandler.setLevel(logging.DEBUG)
logger.addHandler(fileHandler)

# set logging handler in console
consoleHandler=logging.StreamHandler(sys.stdout)
consoleHandler.setFormatter(formatter)
consoleHandler.setLevel(logging.DEBUG)
logger.addHandler(consoleHandler)
#===================================================#

In [2]:
#--- PRELIMINARY IMPORTS -------------------------------------#
import pandas as pd
import yfinance as yf

2022-10-09 00:57:53,729 - numexpr.utils - 159 - INFO - NumExpr defaulting to 4 threads.

In [3]:
# define which company we want to focus on - This parameter is essential for the WebAPP we might build in the future --> with a dropdown value which is assigned to this variable
# such that the user can choose many different companies
# Possible companies:
# ADIDAS AG, AIRBUS SE, ALLIANZ SE, BASF SE, 
# BAYER AG, BEIERSDORF AG O.N., BAYERISCHE MOTOREN WERKE AG, BRENNTAG SE NA O.N., 
# CONTINENTAL AG, COVESTRO AG, Delivery Hero SE Namens-Aktien, DEUTSCHE BANK AG, 
# DEUTSCHE BOERSE NA O.N., DEUTSCHE POST AG, DEUTSCHE TELEKOM AG, E.ON SE, FRESENIUS MEDICAL CARE AG & CO, 
# FRESENIUS SE&CO KGAA, HEIDELBERGCEMENT AG O.N., HELLOFRESH SE INH O.N., HENKEL AG&CO. KGAA, 
# INFINEON TECHNOLOGIES AG, LINDE PLC EO 0,001, MERCEDES-BENZ GROUP, MERCK KGAA, 
# MTU AERO ENGINES NA O.N., MUENCHENER RUECKVERSICHERUNGS A, PORSCHE AUTOM.HLDG VZO,
# PUMA SE, Qiagen N.V., RWE AG INH O.N., SAP SE, SARTORIUS AG VZO O.N., SIEMENS AG, 
# SIEMENS ENERGY AG NA O.N., SIEMENS HEALTH.AG NA O.N., SYMRISE AG INH. O.N., VOLKSWAGEN AG, VONOVIA SE NA O.N., ZALANDO SE

company='E.ON SE'

### Calculate After-Tax Debt Cost

In [4]:
# To make web requests at the ECB SDMX 2.1 RESTful web service
import requests

# For use of the ECB API
#from sdw_api import SDW_API

# Standard libs for data manipulation
import numpy as np
import io
import datetime
from datetime import date
import re
import ValuationModel
from ValuationModel.assist_functions import get_ir_data
from ValuationModel.assist_functions import get_database_findata_year
from ValuationModel.assist_functions import get_database_findata
from ValuationModel.assist_functions import get_company_data
from ValuationModel.fmp import get_index_table
from ValuationModel.fmp import get_beta
from config.api import MY_API_KEY

In [5]:
# Key List
keys_list=pd.read_excel('assets/keys_IR.xlsx')['Keys'].tolist()

In [6]:
# Set start period for time series as a string value, e.g., '2019-12-01' 
start='2022-01-01'
interest_df=get_ir_data(keys_list, start)
interest_df

2022-10-09 00:58:02,026 - urllib3.connectionpool - 1001 - DEBUG - Starting new HTTPS connection (1): sdw-wsrest.ecb.europa.eu:443
2022-10-09 00:58:02,247 - urllib3.connectionpool - 456 - DEBUG - https://sdw-wsrest.ecb.europa.eu:443 "GET /service/data/MIR/M.U2.B.A2A.O.R.1.2240.EUR.N?format=genericdata&startPeriod=2022-01-01&endPeriod=2022-10-09 HTTP/1.1" 200 None

             OBS_VALUE
TIME_PERIOD
2022-01-01        1.25
2022-02-01        1.50
2022-03-01        1.58
2022-04-01        1.82
2022-05-01        1.89
2022-06-01        2.16
2022-07-01        2.26
2022-08-01        2.35

In [7]:
debt_cost=(interest_df['OBS_VALUE'].iloc[-1])/100
# German Corporate Tax rate (incl. solidarity surcharge) = 15.825%
tax=0.15825
at_debt_cost=debt_cost*(1-tax)
at_debt_cost

0.019781125

### Calculate the Market Risk Premium (MRP)

In [8]:
index_table=get_index_table()

2022-10-09 00:58:07,833 - urllib3.connectionpool - 1001 - DEBUG - Starting new HTTPS connection (1): financialmodelingprep.com:443
2022-10-09 00:58:08,372 - urllib3.connectionpool - 456 - DEBUG - https://financialmodelingprep.com:443 "GET /api/v3/quotes/index?apikey=b8f5862cd32c671e67c7ebcbd122f8eb HTTP/1.1" 200 None

In [9]:
index_table.to_csv("data/index_list_overview.csv")

In [10]:
#'^GSPC', '^FTSE', '^NDX', '^RUA', '^NYA'] # Dax Performance40, S&P500, FTSE100, Nasdaq100, Dow Jones

In [47]:
# Retrieve Data on the DAX Performance Index (i.e. the 40 stocks which I have in my database)
dax_perf = yf.Ticker('^GDAXI')
# Get most recent weekâs minute data
today = date.today()        # get the date of today
today_formatted = today.strftime("%Y-%m-%d")
# As the most historical data we have in our PostgreSQL database is at most back until FY2018 we set the start period to '2018-01-01' --> ignore! This resulted in a negative MRP!
dax_perf_prices = dax_perf.history(start='2010-01-01', end=today_formatted)
dax_perf_closep=dax_perf_prices[['Close']]
#--- ANNUALIZE THE DAILY RETURNS --------------------------------------------------------------#
days=len(dax_perf_closep)
# Total Return over the period
total_return=(dax_perf_closep.iloc[-1] - dax_perf_closep.iloc[0]) / dax_perf_closep.iloc[0]
annualized_return=((1+total_return)**(252/days))-1
#--- RISK-FREE RATE = ECB MAIN REFINANCING RATE -----------------------------------------------#
rfr=0.0125
mrp=float(annualized_return-rfr)
print("The market risk premium (MRP):\n-------------------------------\n",mrp)

2022-10-09 01:09:12,244 - urllib3.connectionpool - 1001 - DEBUG - Starting new HTTPS connection (1): query2.finance.yahoo.com:443
2022-10-09 01:09:12,398 - urllib3.connectionpool - 456 - DEBUG - https://query2.finance.yahoo.com:443 "GET /v8/finance/chart/%5EGDAXI?period1=1262300400&period2=1665266400&interval=1d&includePrePost=False&events=div%2Csplits HTTP/1.1" 200 None
The market risk premium (MRP):
-------------------------------
 0.04411611493622121

### Retrieve Fundamental Financial Data Tables from our PostgreSQL Database (see Pt. I)

In [12]:
#---- DATABASE MANAGEMENT TOOLS --------------#
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras as extras

#---- DATA MANIPULATION TOOLS ----------------#
import pandas_datareader as dr

#---- OWN MODULE IMPORTS --------------------#
import config.pw

In [13]:
# Set necessary url variables for the sqlalchemy create_engine() method.
user='svenst89' # or default user 'postgres'
password=config.pw.password # edit the password if you switch to the default user 'postgres'; I setup different passwords.
host='localhost'
port='5433'
database='fundamentalsdb'

In [26]:
# Create an engine object as medium for database exchange with PostgreSQL
def run_engine():
    return create_engine(f"postgresql://{user}:{password}@{host}:{port}/{database}")
if __name__=='__main__':
    try:
        global engine
        engine=run_engine()
        print(f"You have successfully created an engine object for your Postgres DB at {host} for user {user}!")
    except Exception as ex:
        print("Sorry your engine has not been created. Some exception has occurred. Please check and try it again!\n", ex)

You have successfully created an engine object for your Postgres DB at localhost for user svenst89!

The following function retrieves our previously stored fundamental financial statement data from our **PostgreSQL** database with a simply _SQL query_ with a `WHERE` constraint. Later on we can use a for-loop to iterate across the companies, if we want to.

In [27]:
#engine=create_engine(f"postgresql://{user}:{password}@{host}:{port}/{database}")
bs, incs, cs = get_database_findata(company, engine)

You have successfully retrieved the financial statement data for company 'E.ON SE'!

In [28]:
bs=bs.sort_values(by=['date'], ascending=False)

In [29]:
# Retrieve a specific year
grouped = bs.groupby(bs['date'])
bs_2021=grouped.get_group('2021-12-31')

In [30]:
#================= REVISE BALANCE SHEET 
# Delete all rows containing string data and no number values
# define values in the column 'item' according to which the rows shall be dropped
values = ['link', 'finalLink', 'calendarYear', 'period', 'symbol', 'reportedCurrency', 'cik', 'fillingDate', 'acceptedDate']
# drop rows that contain any value in the list
bs_2021 = bs_2021[bs_2021.item.isin(values) == False]

In [31]:
bs = bs[bs.item.isin(values) == False]
bs['value'] = bs['value'].astype(float)

C:\Users\svens\AppData\Local\Temp\ipykernel_8472\1955883115.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs['value'] = bs['value'].astype(float)

In [32]:
#================= REVISE INCOME STATEMENT
incs=incs.sort_values(by=['date'], ascending=False)
incs = incs[incs.item.isin(values) == False]
incs['value'] = incs['value'].astype(float)

# Retrieve a specific year
grouped = incs.groupby(incs['date'])
incs_2021=grouped.get_group('2021-12-31')
incs_2021 = incs_2021[incs_2021.item.isin(values) == False]

**<u>A brief Note on the Quality of the Data delivered by Financial Modeling Prep (FMP) API</u>**

As for the quality of the data, I made a rough cross-check for the results that `FMP` is offering for **E.ON SE** in the **FY2021**: `FMP` reports a negative **Operating Income** of -11.6 EURbn, whereas E.ON SE reported in its Annual Report 2021 an EBIT ("Ergebnis [...] vor Finanzergebnis und Steuern") of +6.5 EURbn. I checked the Notes of the AR and found that E.ON SE reported in its EBIT special items, i.e. a positive one-off effect, of +45 EURbn from derivative financial income, which does clearly not belong to the usual core business of E.ON SE! If we were to subtract this positive one-off earnings effect "as-if" it would have not incurred, focusing merely on the real operating activities, the EBIT in the Annual Report would not look as "rosy" as presented initially.

Assuming that there are other negative items that should have been added back, I trust the values given by `FMP` that the **Operating Income** was, indeed, negative. So, for my further analysis, I will focus on the 'Operating Income' and/or 'EBITDA' figures as presented by **FMP**.

In [51]:
# For demonstration purposes get Balance Sheet for one year
#engine=create_engine(f"postgresql://{user}:{password}@{host}:{port}/{database}")
bs_y, incs_y, cs_y=get_database_findata_year(company, 2021, 12, 31, engine)
#bs_y

You have successfully retrieved the financial statement data for company 'E.ON SE' for the Fiscal Year '2021-12-31'!

In [34]:
#engine=create_engine(f"postgresql://{user}:{password}@{host}:{port}/{database}")
comp=get_company_data(company, engine)
ticker=comp['symbol'].values[0]

You have successfully retrieved the company data for company '   id shortname   symbol               industry     sector currency  bs_id  is_id  cs_id
0   3   E.ON SE  EOAN.DE  UtilitiesâDiversified  Utilities      EUR   2967   2071   2183'!

In [49]:
wacc=get_wacc(company, 2021, 12, 31, rfr, mrp, at_debt_cost, engine)

You have successfully retrieved the financial statement data for company 'E.ON SE' for the Fiscal Year '2021-12-31'!
2022-10-09 01:09:36,779 - urllib3.connectionpool - 1001 - DEBUG - Starting new HTTPS connection (1): financialmodelingprep.com:443
2022-10-09 01:09:37,320 - urllib3.connectionpool - 456 - DEBUG - https://financialmodelingprep.com:443 "GET /api/v3/profile/EOAN.DE?apikey=b8f5862cd32c671e67c7ebcbd122f8eb HTTP/1.1" 200 None

In [50]:
wacc

0.02231975340897803